.header {
  align-items: center;
  display: flex;
  margin-bottom: var(--space-4);
}

.avatar {
  margin-right: var(--space-2);
}

.carousel {
  & > div {
    padding: 3px;
  }

  & :global(.amp-carousel-button) {
    box-shadow: var(--elevation-4);
    background-color: var(--color-secondary);
  }
}

.post-card {
  width: 250px;
}

.see-more {
  margin-right: calc(var(--space-4) * -1);
  margin-left: auto;
}
