.card-media {
  position: relative;
}

.media-icon {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  color: var(--color-white);
}

.stats-container {
  display: flex;
  padding-top: var(--space-2);
  padding-right: var(--space-4);
  padding-bottom: var(--space-2);
  padding-left: var(--space-4);
  margin-right: calc(var(--space-1) * -1);
  margin-left: calc(var(--space-1) * -1);
  background-color: var(--color-grey-100);
}

.stat {
  display: inline-flex;
  align-items: center;
  padding-right: var(--space-1);
  padding-left: var(--space-1);
}

.stat-icon {
  margin-right: var(--space-1);
}

.body {
  flex: auto;
  white-space: normal;
}
