.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: var(--space-3);
  border: 0;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.edge-start {
  margin-left: calc(var(--space-3) * -1);
}

.edge-end {
  margin-right: calc(var(--space-3) * -1);
}
