.list {
  composes: root from '../../common/list/List.css';
  margin-right: calc(var(--space-4) * -1);
  margin-left: calc(var(--space-4) * -1);
}

@media (--media-sm) {
  .list {
    margin: 0;
  }
}
